@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
  background-color: #f5f5f5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 2s ease-out;
}

.animate-slide-up {
  animation: slideUp 1.5s ease-out;
}

@keyframes bounceSlow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.animate-bounce-slow {
  animation: bounceSlow 3s infinite;
}
